
.close{
    transform: translateY(-40px);
    transition: all .4s ease;
}
.open{
    transform: translateY(0px);
    transition: all .5s ease;
}
.open div {
  position: relative;
  display: inline-block; /* یا inline-flex */
  padding-bottom: 4px; /* فاصله متن تا خط */
  overflow: hidden;
}

.open div::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0; /* برای RTL از right استفاده کن */
  width: 100%;
  height: 1px;
  background-color: red;
  transform: scaleX(0); /* شروع از صفر (دیده نشود) */
  transform-origin: center; /* از راست شروع به باز شدن کند */
  transition: transform 0.2s ease-in-out;
}

.open div:hover::after {
  transform: scaleX(1); /* کامل باز شود */
}