

.img {
  width: 50%;
  height: 100%;
  object-fit: cover;      
  border-radius: 50%;    
}

.nav-a{
    position: fixed;
    z-index: 100;
    top: 0;
    direction: rtl;
    margin-left: 5px;
    background: rgb(255, 255, 255);
    height: 20vh;
}
header{
    min-height:15vh;
}

.serchbox {
    height: 40%;
}

.serch-icon{
    width: 70%;
    background: rgb(238, 238, 236);
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    border: 2px solid rgb(170, 166, 166);
    border-radius: 4px;
    color: rgba(169, 172, 172, 0.747);
}

.login{
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    padding: 4px;
    background: rgb(230, 228, 227);

    width: 80%;
}
.login:hover{
    color: black;
}

.cart{
    font-size: x-large;
    color: black;
}
.cart:hover{
    color: black;
}
.shop{
  margin-top: 110px;
  height: 40vh;
}
.nav-b{
    background: rgba(218, 215, 215, 0.295);
    min-height: 70px;
    position: fixed;
    z-index: 100;
    bottom: 0;
}
.parent-cart{
    height: 40%;
}
.parent-login{
    height: 40%;
}