

.img {
  width: 40%;
  height: 100%;
  object-fit: cover;      
  border-radius: 50%;    
}

.nav-a{
    position: fixed;
    z-index: 100;
    top: 0;
    direction: rtl;
    margin-left: 5px;
    background: rgb(255, 255, 255);
    height: 10vh;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.096);
}

header{
    min-height:15vh;
}

.serchbox {
    height: 40%;
}

.serch-icon{
    width: 70%;
    background: rgb(238, 238, 236);
    font-weight: 500;
    border: 1px solid rgb(170, 166, 166);
    border-radius: 4px;
    color: rgba(169, 172, 172, 0.747);
    font-size: smaller;
}

@media (max-width:768px){
    .nav-a{
        height: fit-content;
        background: rgba(255, 253, 253, 0);

    }
    .serch-icon{
        border: 2px solid rgb(219, 218, 218);
        background: rgba(255, 255, 255, 0.671);
        border-radius: 20px;
        opacity: 1;
    }
}
.login{
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    padding: 4px;
    background: rgb(230, 228, 227);
    width: 80%;
    font-size: smaller;
}
.login:hover{
    color: black;
}

.cart{
    font-size: x-large;
    color: black;
}
.cart:hover{
    color: black;
}

.nav-b{
    background: rgba(218, 215, 215, 0.295);
    min-height: 70px;
    position: fixed;
    z-index: 100;
    bottom: 0;
}
.parent-cart{
    height: 40%;
}
.parent-login{
    height: 40%;
}
.dropdown {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;
  transition: max-height .4s ease, opacity .3s ease, transform .3s ease;
}

.menu-item.active .dropdown {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  width:fit-content;
  background: white;
  border-radius: 5px;
  box-shadow:0px 1px 4px 0px ;
}
.dropdown li{
    list-style: none;
}
.Dastehha{
    background: rgb(198, 237, 255);
    height: 100vh;
    padding-top: 130px;
    padding-bottom: 40px;
}
.child-dastehha{
    max-height: 50px;
    background: rgb(255, 254, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:20px ;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    scrollbar-width: none;
    overflow-y: hidden;
}.child-dastehha:hover{
    box-shadow: 0px 3px 4px 0px rgba(98, 100, 98, 0.24);
    transform: translateY(1px);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.open{
    max-height: fit-content;
}
.Dastehha p{
    color: blue;
    width: 80%;
    cursor: pointer;
}
.Dastehha a{
    color: black;
    margin: 2px;
    width: 100%;
}
.Dastehha a:hover{
    background: rgb(235, 255, 253);
    transition: background 0.3s ease 
}
.pElem{
    color: rgb(70, 68, 68);
    cursor: pointer;
    font-size: small;
}
.pElem:hover{
    color: black;
    transition: color 0.3s ease-in;
}
.dropdown Li a{
    color: rgb(71, 70, 70);
    font-size: x-small
    
}
.dropdown Li a:hover{
    color: black;
}
