.home{
    display: none;
}
@media(max-width:768px){
    .home{
        display: block;
    }
}

.img {
  width: 70%;
  height: 90%;
  object-fit: cover;      
  border-radius: 50%;    
}
.nav-a{
    direction: rtl;
}
header{
    background: rgb(255, 255, 255);
    min-height: 130px;
}

.serchbox {
    height: 50%;
}

.serch-icon{
    width: 90%;
    background: rgba(231, 231, 229, 0.466);
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    color: rgba(169, 172, 172, 0.747);
}
.login{
    border: 3px solid black;
    border-radius: 8px;
    color: black;
    padding: 10px;
}
.fontG{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(15px , 2vw,20px);
}
.cart{
    font-size: x-large;
    color: black;
}