.form-auth{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 340px;
    width: 100%;
    border: solid 1px black;
    border-radius:50px ;
    background: rgb(91, 209, 238);
    box-shadow: 10px 10px 1300px 200px rgb(55, 190, 253);
}
.input-auth{
    height: 50px;
    width: 70%;
    background: rgb(253, 253, 253);
    color: black;
    border: solid 1px rgb(239, 243, 240);
    border-radius:5px ;
    margin: 2px;
    box-shadow:inset 0px 0px 7px 1px rgba(239, 240, 239, 0.486)
}
.button-auth{
    background: rgb(255, 255, 255);
    border: solid 1px rgb(243, 243, 243);
    color: black;
    box-shadow:inset 0px 0px 7px 1px rgba(235, 236, 235, 0.486);
    border-radius: 6px;
    height: 50px;
    font-size: clamp(14px ,2vw , 17px);
    margin: 19px;
}
::placeholder{
    font-size: clamp(14px ,2vw , 17px);
    color: rgba(116, 117, 116, 0.76);
}
.button-auth:hover{
   border: solid 1px rgb(28, 204, 248);
   box-shadow: inset 0 0 5px 1px rgb(32, 210, 241);
   transition: border .5s ease , box-shadow .5s ease;
}
.form-auth .div1{
    z-index: 100;
    box-shadow: 13px 1px 16px 1px rgba(49, 121, 255, 0.829);
    width: 50%;
    height: 100%;
    border-radius: 50px;
    background: rgba(42, 21, 228, 0.74);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-auth .div2{
    background: rgb(91, 209, 238);
   height: 100%;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 50px;

}
.form-auth .div1 .p1{
    font-size: xx-large;
    color: aqua;
}
.form-auth .div1 .p2{
    color: aqua;

}
.form-auth .div1 .p2 a{
    border: solid 1px rgb(31, 206, 230);
    border-radius: 8px;
    padding: 7px;
    color: aqua;
}
@media (max-width:550px){
    .form-auth{
        flex-direction: column;
        box-shadow: 10px 10px 300px 70px rgb(55, 190, 253);
        height: 450px;
    }

    .form-auth .div1{
        width: 100%;
        box-shadow: 1px 13px 16px 0px rgba(49, 121, 255, 0.829);
        height: 40%;
    }
    .form-auth .div2{
        width: 100%;
    }
}