.form-login{
    margin-top: 160px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    border: solid 1px rgb(73, 195, 243);
    box-shadow: inset 0px 0px 7px 1px rgba(67, 195, 255, 0.486);
    border-radius: 20px;
}
.input-login{
    color: aqua;
    background: white;
    border: solid 1px rgb(67, 202, 255);
    border-radius:5px ;
    margin: 2px;
    box-shadow:inset 0px 0px 7px 1px rgba(67, 202, 255, 0.486)
}
.button-login{
    background: rgb(255, 255, 255);
    border: solid 1px rgb(0, 183, 255);
    color: black;
    box-shadow:inset 0px 0px 7px 1px rgba(67, 211, 255, 0.486);
    border-radius: 6px;
    font-size: clamp(14px ,2vw , 17px);
    margin: 14px;
}
::placeholder{
    font-size: clamp(14px ,2vw , 17px);
    color: rgba(198, 201, 200, 0.76);
}
.button-login:hover{
    background: rgb(19, 211, 245);
    color: white;
    transition: background .5s ease ,color .5s ease  ;
}