.slider{
    display: flex;
    overflow-x: auto;
    background: rgb(241, 7, 7);
    scrollbar-width: none;
    border-radius: 10px;
    height: 100%;
    align-items: center;
    justify-content: center;
}





.prudoct{
    margin: 2px;
    background: white;
    border-radius: 5px;
    height: 97%;
    text-align: center;
}
.product-img{
    height: 60%;
    width: 60%;
}
.prudoct h5{
    font-size: smaller;
}
.prudoct p{
    font-size: smaller;
}
@media (max-width:500px){
    .product-img{
        height: 40%;
    }
}
.Catepagesproduct{
    border: 1px solid rgb(221, 216, 216);
    margin: 10px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
}
