.cart{
  margin-top: 80px;
}
.shop{
  margin-top: 100px;
  
}
.shop-child{
  width: 90%;
  max-width: 700px;
  height: fit-content;
 
}
.nav-link {
  color: black ;
}
.navbar{
  background: #03f54b;
  border-radius: 6px;
  position: fixed;
  top:0 ;
  left: 0;
  width:100%;
  z-index: 1000;
}
.btnbg{
  background: #1bf0ff9d;
  transition: background 0.4s;
  box-shadow: none;
  border-radius: 10px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 50px;
}

.int{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  
}

.btnbg:hover{
  background: #47ffffee;
  
}

.btn-add{
  width: 100%;
  max-width: 30px;
  font-size: 20px;
  background-color: #fefffd5e;
  color: rgb(30, 255, 0);
  border: solid 1px rgb(0, 248, 62);
  border-radius: 4px;
  max-height: 30px;
  height: 100%;
  padding-bottom: 15px;
}

.btn-remov{
  width: 100%;
  max-width: 30px;
  font-size: 20px;
  background-color: #fefffd5e;
  color: rgb(255, 0, 0);
  border: solid 1px rgb(248, 70, 0);
  border-radius: 4px;
  max-height: 30px;
  height: 100%;
  padding-bottom: 10px;
  
}

.fontG{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(15px , 2vw,20px);
}
.cart-font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(10, 4, 4, 0.87);
  background-color: #f8f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#root {
  min-height: 100vh;
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;  
  height: 100%;  
  min-width: 320px;
  min-height: 100vh;
}

.serch{
  margin-top: 70px;
}
.inpserch{
  color: black;
  width: 40% ;
  max-width: 500px;
  background: rgb(242, 242, 245);
  border: none;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 35px;
}
.inpserch::placeholder{
  color: #bec2bf;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.hed{
  background: rgb(241, 241, 241);
  height: 60px;
  margin-top: 10px;
  border-radius: 6px;
}


.serch-link{
  font-size: 20px;
  background: rgb(253, 253, 253);
  color: #03f54b;
  border: none;
  border-radius: 8px;
  
}
.login{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.div-parent-form{
  width:70% ;
  max-width: 480px;
  padding: 7px;
  margin-top: 70px;
  background: rgb(240, 237, 237);
  height: 90%;
  max-height: 450px;
  border-radius: 7px;
}
.inps-form{
  max-width: 240px;
  width: 70%;
  margin: 5px;
  height: 40px;
  color: black;
  background: white;
  border: none;
  border-radius: 5px;
  
}
.count{
  padding: 4px;
  border-radius: 100%;
  color: white;
  background: red;
  font-size: smaller;
  
}