@font-face {
  font-family: "Vazirmatn";
  src: url("./styls/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./styls/fonts/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./styls/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


.cart{
  margin-top: 80px;
}


.btnbg{
  background: #1bf0ff9d;
  transition: background 0.4s;
  box-shadow: none;
  border-radius: 10px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 50px;
}

.int{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  
}

.btnbg:hover{
  background: #47ffffee;
  
}

.btn-add{
  width: 100%;
  max-width: 30px;
  font-size: 20px;
  background-color: #fefffd5e;
  color: rgb(30, 255, 0);
  border: solid 1px rgb(0, 248, 62);
  border-radius: 4px;
  max-height: 30px;
  height: 100%;
  padding-bottom: 15px;
}

.btn-remov{
  width: 100%;
  max-width: 30px;
  font-size: 20px;
  background-color: #fefffd5e;
  color: rgb(255, 0, 0);
  border: solid 1px rgb(248, 70, 0);
  border-radius: 4px;
  max-height: 30px;
  height: 100%;
  padding-bottom: 10px;
  
}


.cart-font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(10, 4, 4, 0.87);
  background-color: #f8f2f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#root {
  min-height: 100vh;
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;  
  height: 100%;  
  min-width: 320px;
  min-height: 100vh;
  font-family: "vazirmatn" , sans-serif;
}


.inpserch{
  color: black;
  width: 40% ;
  max-width: 500px;
  background: rgb(242, 242, 245);
  border: none;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 35px;
}
.inpserch::placeholder{
  color: #bec2bf;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.hed{
  background: rgb(241, 241, 241);
  height: 60px;
  margin-top: 10px;
  border-radius: 6px;
}


.serch-link{
  font-size: 20px;
  background: rgb(253, 253, 253);
  color: #03f54b;
  border: none;
  border-radius: 8px;
  display: block;
  width: 90px;
  text-align: end;
}
.slider{
    display: flex;
    overflow-x: auto;
    background: rgb(241, 7, 7);
    scrollbar-width: none;
    border-radius: 10px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.div-parent-form{
  width:70% ;
  max-width: 480px;
  padding: 7px;
  margin-top: 70px;
  background: rgb(240, 237, 237);
  height: 90%;
  max-height: 450px;
  border-radius: 7px;
}
.inps-form{
  max-width: 240px;
  width: 70%;
  margin: 5px;
  height: 40px;
  color: black;
  background: white;
  border: none;
  border-radius: 5px;
  
}
.count{
  padding: 4px;
  border-radius: 100%;
  color: white;
  background: red;
  font-size: smaller;
  height: fit-content;
}
.Market{
  position: absolute;
  height: 100%;
  width: 5%;
  background: green;
  background: rgb(241, 7, 7);
  border-top-right-radius:10px ;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
  font-weight: 900;
  left: 80%;
}
@media (max-width:765px) {
  .Market{
    font-size: medium;
    font-weight: 500;
  }
}
@media (max-width:578px) {
  .Market{
    font-size: small;
    font-weight: 300;
  }
}
.nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.nav:hover {
    background: #4dabf7;
    color: white;
    box-shadow: 0 4px 15px rgba(77, 171, 247, 0.4);
}
.nav.left {
    left: 2%;
}

.nav.right {
    right: 2%;
}

.shop{
  margin-top: 90px;
  height: 2000px;
}
.prant-slide{
    position: relative;
    height: 140px;
}
.vitreen{
  border: 1px solid rgba(0, 0, 0, 0.096);
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.chvitreen img{
  height: 80%;
  width: 70%;
}
.vitreen2{
    margin-top: 20px;
    justify-content: space-around;
}

.vitreen2-a{
   margin-right:2px ;
   border: 1px solid rgba(48, 46, 46, 0.089);
}
.vitreen2-b{
   border: 1px solid rgba(48, 46, 46, 0.089);
   margin-left: 15px;
}
.chvitreen p{
  font-size: small;
  color: black;
}
.loade{
  border: 2px solid white;
  height: 25px;
  width: 25px;
  border-top: 2px solid black;
  border-radius: 50px;
  animation: Lo 2s linear infinite;
}
@keyframes Lo{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
.prudoct{
    margin: 2px;
    background: white;
    border-radius: 5px;
    height: 97%;
    text-align: center;
}
.product-img{
    height: 60%;
    width: 60%;
}
.prudoct h5{
    font-size: smaller;
}
.prudoct p{
    font-size: smaller;
}
@media (max-width:500px){
    .product-img{
        height: 40%;
    }
}
.Catepagesproduct{
    border: 1px solid rgb(221, 216, 216);
    margin: 10px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
}
