.cart{
  margin-top: 80px;
}
.shop{
  margin-top: 100px
}
.nav-link {
  color: black ;
}
.navbar{
  background: #03f54b;
  border-radius: 6px;
  position: fixed;
  top:0 ;
  left: 0;
  width:100%;
  z-index: 1000;
}
.btnbg{
  background: #1bf0ff9d;
  transition: background 0.4s;
  box-shadow: none;
  border-radius: 10px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 50px;
}

.int{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-left: 700px;
}

.btnbg:hover{
  background: #47ffffee;
  
}

.btn-add{
 
  font-size: 20px;
  background-color: #d0f7be5e;
  color: rgb(30, 255, 0);
  border: solid 1px white;
  border-radius: 20px;
  height: 48px;
}
.btn-add:hover{
  background: white;
  border-radius: 20px;
  color: #03f54b;
  border:solid 1px #03f54b;
  height: 48px;

}
.btn-remov{
  font-size: 25px;
  background-color: #d1909036;
  color: rgb(255, 0, 0);
  border: solid 1px white;
  border-radius: 20px;
  height: fit-content;
  
}
.btn-remov:hover{
  background: white;
  border-radius: 20px;
  height: fit-content;
  color: rgb(248, 8, 8);
}
.fontG{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart-font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(10, 4, 4, 0.87);
  background-color: #f8f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#root {
  min-height: 100vh;
  min-width: 100vh;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;  
  height: 100%;  
  min-width: 320px;
  min-height: 100vh;
}

.serch{
  margin-top: 100px;
}
