@font-face {
  font-family: "Vazirmatn";
  src: url("./styls/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./styls/fonts/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./styls/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


.cart{
  margin-top: 80px;
}


.btnbg{
  background: #1bf0ff9d;
  transition: background 0.4s;
  box-shadow: none;
  border-radius: 10px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 50px;
}

.int{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  
}

.btnbg:hover{
  background: #47ffffee;
  
}

.btn-add{
  width: 100%;
  max-width: 30px;
  font-size: 20px;
  background-color: #fefffd5e;
  color: rgb(30, 255, 0);
  border: solid 1px rgb(0, 248, 62);
  border-radius: 4px;
  max-height: 30px;
  height: 100%;
  padding-bottom: 15px;
}

.btn-remov{
  width: 100%;
  max-width: 30px;
  font-size: 20px;
  background-color: #fefffd5e;
  color: rgb(255, 0, 0);
  border: solid 1px rgb(248, 70, 0);
  border-radius: 4px;
  max-height: 30px;
  height: 100%;
  padding-bottom: 10px;
  
}


.cart-font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(10, 4, 4, 0.87);
  background-color: #f8f2f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#root {
  min-height: 100vh;
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;  
  height: 100%;  
  min-width: 320px;
  min-height: 100vh;
  font-family: "vazirmatn" , sans-serif;
}


.inpserch{
  color: black;
  width: 40% ;
  max-width: 500px;
  background: rgb(242, 242, 245);
  border: none;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 35px;
}
.inpserch::placeholder{
  color: #bec2bf;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.hed{
  background: rgb(241, 241, 241);
  height: 60px;
  margin-top: 10px;
  border-radius: 6px;
}


.serch-link{
  font-size: 20px;
  background: rgb(253, 253, 253);
  color: #03f54b;
  border: none;
  border-radius: 8px;
  display: block;
  width: 90px;
  text-align: end;
}


.div-parent-form{
  width:70% ;
  max-width: 480px;
  padding: 7px;
  margin-top: 70px;
  background: rgb(240, 237, 237);
  height: 90%;
  max-height: 450px;
  border-radius: 7px;
}
.inps-form{
  max-width: 240px;
  width: 70%;
  margin: 5px;
  height: 40px;
  color: black;
  background: white;
  border: none;
  border-radius: 5px;
  
}
.count{
  padding: 4px;
  border-radius: 100%;
  color: white;
  background: red;
  font-size: smaller;
  height: fit-content;
}
.Market{
  float: right;
  height: 100%;
  width: 5%;
  background: green;
  transform: translateX(-35px);
  background: rgb(241, 7, 7);
  border-top-right-radius:10px ;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
  font-weight: 900;
}
.nav.left {
    left: 10px;
}

.nav.right {
    right: 133px;
}
@media(max-width:800px){
  .nav.right{
    right: 90px;
  }
}
@media(max-width:500px){
  .nav.right{
    right: 50px;
  }
}
.shop{
  margin-top: 90px;
  height: fit-content;
}
.prant-slide{
    position: relative;
    height: 30vh;
}
.vitreen{
  border: 1px solid rgba(0, 0, 0, 0.096);
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.chvitreen img{
  height: 80%;
  width: 70%;
}
.vitreen2{
    margin-top: 20px;
    justify-content: space-around;
}

.vitreen2-a{
   margin-right:2px ;
   border: 1px solid rgba(48, 46, 46, 0.089);
}
.vitreen2-b{
   border: 1px solid rgba(48, 46, 46, 0.089);
   margin-left: 15px;
}
.chvitreen p{
  font-size: small;
  color: black;
}